.header-wrapper .icon-bars,
.header-item.none {
    display: none;
}


/*
 * @note: header ( class: header )
 */

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    background: #fff;
    box-shadow: var(--box-shadow);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*
 * @note: header ( class: header )
 *      Header ( 1 ) - header-top-bar
 */

.header-wrapper .header-top-bar {
    padding: 0.7rem 15%;
    background-color: var(--white-light);
}

.header-wrapper .header-top-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper .header-top-bar ul li a {
    padding: 0.6rem;
    font-size: 1.3rem;
    color: var(--gray);
}

.header-wrapper .header-top-bar ul li a:hover {
    color: var(--main-color);
}


/*
 * @note: header ( class: header )
 *      Header ( 2 ) - header-middle-bar
 */


/*
 *                  ( 1 ) logo
 */

.header-wrapper .header-middle-bar {
    padding: 2rem 15%;
}

.header-wrapper .header-middle-bar .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header-wrapper .header-middle-bar .logo img {
    width: 30px;
    height: 30px;
}

.header-wrapper .header-middle-bar .logo i {
    color: var(--main-color);
}

.header-wrapper .header-middle-bar .logo span {
    color: var(--main-color);
}

.header-wrapper .header-middle-bar .header-item .navbar ul.nav-item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper .header-middle-bar .header-item ul.nav-item a {
    margin: 0 0.2rem;
    padding: 0.9rem 1.2rem;
    font-size: 1.4rem;
    color: var(--black);
    text-transform: uppercase;
    border-radius: 20px;
}

.header-wrapper .header-middle-bar .header-item ul.nav-item a:hover {
    color: white;
    background-color: var(--main-color);
}


/* .header-wrapper .header-middle-bar .icons {
    display: flex;
    justify-content: stretch;
    background-color: none;
} */

.header-wrapper .header-middle-bar .icons div.cart {
    position: relative;
    background-color: var(--white);
}

.header-wrapper .header-middle-bar .icon-bars div {
    padding: 0.1rem 1.5rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    background-color: #eee;
    border: none;
    color: var(--black);
    font-size: 1.4rem;
    margin-left: 0.3rem;
    text-align: center;
    cursor: pointer;
}

.header-wrapper .header-middle-bar .icons div.cart a {
    color: var(--text-color);
    display: block;
    padding: 0.1rem 1.5rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    background-color: #eee;
    border: none;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
}

.header-wrapper .header-middle-bar .icon-bars div:hover,
.header-wrapper .header-middle-bar .icons div a:hover,
.header-wrapper .header-middle-bar .icons:active {
    background-color: var(--main-color);
    color: #fff;
}

.header-wrapper .header-middle-bar .icons .btn-number {
    position: absolute;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    padding: 0.4rem 0.4rem 0.2rem;
    line-height: normal;
    color: var(--white);
    background-color: var(--main-color);
    border: 0.1rem solid var(--main-bg);
    border-radius: 50px;
}

#menu-btn {
    display: none;
}

.msg-alert {
    /* display: none; */
    position: fixed;
    top: 13rem;
    right: 1.5rem;
    min-width: 40rem;
    z-index: 1000;
    background: var(--main-color);
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    /* margin-right: 14%; */
}


/* .msg-alert.active {
    display: block;
} */

.msg-alert .text-alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: var(--white);
    font-size: 2rem;
}

.msg-alert .text-alert i.fas {
    cursor: pointer;
    padding-left: 2.5rem;
}