.detail-products .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 5rem;
}

.detail-products .product-container .product-item-image {
    padding: 0 4rem;
}

.detail-products .product-container .product-item-image .main-image {
    width: 100%;
    height: 75%;
    margin: auto;
}

.detail-products .product-container .product-item-image .main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-products .product-container .product-item-image .thumbnail {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 2rem 0;
    /* background: pink; */
}

.detail-products .product-container .product-item-image .thumbnail li {
    width: 15rem;
    height: 10rem;
    padding: 0 0.2rem;
    cursor: pointer;
}

.detail-products .product-container .product-item-image .thumbnail li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* right */

.detail-products .product-container .product-item-description .name {
    font-size: 3.4rem;
    color: var(--main-color);
    font-weight: bold;
    padding: 1rem 0;
}

.detail-products .product-container .product-item-description .product-extra-icons ul {
    display: flex;
    list-style: none;
}

.detail-products .product-container .product-item-description .product-extra-icons ul li {
    padding: 1rem 2rem 1rem 0;
    font-size: 2rem;
}

.detail-products .product-container .product-item-description .product-extra-icons ul li i {
    color: var(--main-color);
}

.detail-products .product-container .product-item-description .product-extra-icons ul li .number {
    font-weight: bold;
    color: var(--main-color);
    padding: 0 1rem 0 0.2rem;
}

.detail-products .product-container .product-item-description .item-extra {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.detail-products .product-container .product-item-description .item-extra h6 {
    min-width: 16rem;
    font-size: 1.8rem;
    color: var(--main-color);
    padding: 0 2rem 0 0;
}

.detail-products .product-container .product-item-description .item-extra span {
    font-size: 1.6rem;
    color: var(--main-color);
    font-weight: bold;
}

.detail-products .product-container .product-item-description .item-extra span.box {
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--main-color);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--main-color);
}

.detail-products .product-container .product-item-description .quantity button {
    font-size: 1.2rem;
    color: var(--main-color);
    background-color: var(--white);
}

.detail-products .product-container .product-item-description .quantity button:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.detail-products .product-container .product-item-description .back {
    width: 4rem;
    height: 4rem;
    float: left;
    border: 0.1rem solid var(--main-color);
    border-radius: 0.2rem 0 0 0.2rem;
    cursor: pointer;
}

.detail-products .product-container .product-item-description .next {
    width: 4rem;
    height: 4rem;
    float: right;
    border: 0.1rem solid var(--main-color);
    border-radius: 0 0.2rem 0.2rem 0;
    cursor: pointer;
}

.detail-products .product-container .product-item-description .quantity input {
    width: 5rem;
    height: 4rem;
    border-top: 0.1rem solid var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    border-right: none;
    border-left: none;
    border-radius: 0;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.detail-products .product-container .product-item-description a.btn {
    margin: 0.5rem;
}