.detail-products .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
}

.detail-products .product-container .product-item-image {
    max-width: 500px;
    padding: 2rem 0;
    margin: 0 auto;
}

.detail-products .product-container .product-item-image .main-image {
    width: 100%;
    /* margin: auto; */
}


/* delete (S */

.detail-products .product-container .product-item-image .main-image img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid var(--main-color);
}

.detail-products .product-container .product-item-image .thumbnails {
    position: relative;
    margin: auto;
    max-width: 500px;
    display: flex;
    min-height: 100px;
    align-items: center;
}

.detail-products .product-container .product-item-image .thumbnails div#slide_next_thumbnail {
    position: absolute;
    right: 0;
}

.detail-products .product-container .product-item-image .thumbnails div#slide_prev_thumbnail {
    position: absolute;
    left: 0;
}

.detail-products .product-container .product-item-image .thumbnails i.fas {
    font-size: 3rem;
    margin: 0 1rem;
    cursor: pointer;
    padding: 1rem 0.5rem;
    color: var(--white);
    background-color: var(--text-color);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 8 */
    filter: alpha(opacity=50);
    /* IE 5-7 */
    -moz-opacity: 0.5;
    /* Netscape */
    -khtml-opacity: 0.5;
    /* Safari 1.x */
    opacity: 0.5;
    /* Good browsers */
}

.detail-products .product-container .product-item-image .thumbnails i.fas:hover {
    opacity: 1;
}

.detail-products .product-container .product-item-image .slide-thumbnails {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 0.5rem;
}

.detail-products .product-container .product-item-image .slide-thumbnails::-webkit-scrollbar {
    display: none;
}

.detail-products .product-container .product-item-image .slide-thumbnails img {
    max-width: 10rem;
    height: 100%;
    margin: 0 0.5rem 0 0;
    border: 0.2rem solid var(--text-color);
    cursor: pointer;
}

.detail-products .product-container .product-item-image .slide-thumbnails img:hover,
.detail-products .product-container .product-item-image .slide-thumbnails img.active {
    border-color: var(--orange);
}


/* delete E) */

.detail-products .product-container .product-item-description .name {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: bold;
    padding: 1rem 0;
}

.detail-products .product-container .product-item-description .product-extra-star span.star i {
    color: var(--yellow);
    font-size: 1.7rem;
}

.detail-products .product-container .product-item-description .product-extra-icons ul {
    display: flex;
    list-style: none;
}

.detail-products .product-container .product-item-description .product-extra-icons ul li {
    padding: 1rem 2rem;
    font-size: 2rem;
    border-right: 0.1rem solid var(--light-color);
}

.detail-products .product-container .product-item-description .product-extra-icons ul li:first-child {
    padding-left: 0;
}

.detail-products .product-container .product-item-description .product-extra-icons ul li:last-child {
    border-right: none;
}

.detail-products .product-container .product-item-description .product-extra-icons ul li i {
    color: var(--text-color);
}

.detail-products .product-container .product-item-description .product-extra-icons ul li .number {
    font-weight: bold;
    color: var(--main-color);
    padding: 0 1rem 0 0.2rem;
}

.detail-products .product-container .product-item-description .item-extra {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.detail-products .product-container .product-item-description .item-extra h6 {
    min-width: 16rem;
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 0 2rem 0 0;
}

.detail-products .product-container .product-item-description .item-extra span {
    font-size: 1.6rem;
    color: var(--main-color);
    font-weight: bold;
}

.detail-products .product-container .product-item-description .item-extra span.discount {
    color: var(--text-color);
    font-size: 2rem;
    padding-right: 2rem;
    text-decoration-line: line-through;
}

.detail-products .product-container .product-item-description .item-extra span.price {
    color: var(--red);
    font-size: 2rem;
}

.detail-products .product-container .product-item-description .item-extra span.box {
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--main-color);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--main-color);
}

.detail-products .product-container .product-item-description .quantity {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}

.detail-products .product-container .product-item-description .quantity .is-form,
.detail-products .product-container .product-item-description .quantity .is-form-none {
    font-size: 1.7rem;
    color: var(--main-color);
    background-color: var(--white);
}

.detail-products .product-container .product-item-description .quantity .is-form:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.detail-products .product-container .product-item-description .quantity .is-form-none:focus,
.detail-products .product-container .product-item-description .quantity .is-form:focus,
.detail-products .product-container .product-item-description .quantity .input-text:focus {
    outline: none;
}

.detail-products .product-container .product-item-description .quantity .minus {
    width: 4rem;
    height: 4rem;
    float: left;
    border: 0.1rem solid var(--text-color);
    border-radius: 0.2rem 0 0 0.2rem;
    cursor: pointer;
}

.detail-products .product-container .product-item-description .quantity .plus {
    width: 4rem;
    height: 4rem;
    float: right;
    border: 0.1rem solid var(--text-color);
    border-radius: 0 0.2rem 0.2rem 0;
    cursor: pointer;
}

.detail-products .product-container .product-item-description .quantity .input-qty {
    width: 5rem;
    height: 4rem;
    display: inline-block;
    vertical-align: top;
    border-top: 0.1rem solid var(--text-color);
    border-bottom: 0.1rem solid var(--text-color);
    border-right: none;
    border-left: none;
    border-radius: 0;
    text-align: center;
}

.detail-products .product-container .product-item-description .quantity .input-qty::-webkit-outer-spin-button,
.detail-products .product-container .product-item-description .quantity .input-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* ======================================================================= */


/* .buttons_added {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}

.is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}

.is-form:focus,
.input-text:focus {
    outline: none;
}

.is-form.minus {
    border-radius: 4px 0 0 4px;
}

.is-form.plus {
    border-radius: 0 4px 4px 0;
}

.input-qty {
    background-color: #fff;
    height: 2.2rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */


/* ======================================================================= */

.detail-products .product-container .product-item-description a.btn {
    margin: 2rem 1rem 0 0;
}

.product-tab .product-tabs-container .product-list-tabs button {
    padding: 1.5rem 2.5rem;
    color: var(--white);
    background-color: var(--main-color);
    border-radius: 0.5rem 0.5rem 0 0;
    margin: 1rem 0.3rem 0 0;
    cursor: pointer;
}

.product-tab .product-tabs-container .product-list-tabs button:hover {
    color: var(--yellow);
}

.product-tab .product-tabs-container .product-tabs-content {
    border: 0.1rem solid var(--light-color);
    width: 100%;
    /* height: 150px; */
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    padding: 3.4rem 3rem;
    font-size: 1.5rem;
    display: none;
}

.product-tab .product-tabs-container .product-tabs-content.active {
    display: block;
}

.product-tab .product-tabs-container .product-tabs-content h5 {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    text-transform: capitalize;
}

.product-tab .product-tabs-container .product-tabs-content .review-content {
    padding: 2rem 0;
    border-top: 0.1rem solid var(--light-color);
}

.product-tab .product-tabs-container .product-tabs-content .review-content.comment button {
    float: right;
    padding: 1rem 2rem;
    color: var(--main-color);
    background-color: var(--white);
    cursor: pointer;
    border: 0.1rem solid var(--main-color);
    border-radius: 0.5rem;
}

.product-tab .product-tabs-container .product-tabs-content .review-content.comment button:hover {
    color: var(--yellow);
}

.product-tab .product-tabs-container .product-tabs-content .write-comment {
    padding: 2rem 0;
    border-top: 0.1rem solid var(--light-color);
    display: none;
}

.product-tab .product-tabs-container .product-tabs-content .write-comment.active {
    display: block;
}

.product-tab .product-tabs-container .product-tabs-content .write-comment p {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 1rem;
}

.product-tab .product-tabs-container .product-tabs-content .write-comment .form-group {
    margin-bottom: 1.4rem;
}

.product-tab .product-tabs-container .product-tabs-content .write-comment .form-group .star-widget {
    color: var(--yellow);
    padding: 1.7rem 1.5rem;
    cursor: pointer;
    float: left;
}

.product-tab .product-tabs-container .product-tabs-content .write-comment .form-group .star-widget input {
    display: none;
}

.product-tab .product-tabs-container .product-tabs-content .write-comment .form-group .star-widget label {
    font-size: 1.8rem;
    color: #444;
    padding: 10px;
    float: right;
    cursor: pointer;
    transition: all 0.2s ease;
}

.product-tab .product-tabs-container .product-tabs-content .write-comment .form-group .star-widget input:not(:checked)~label:hover,
.product-tab .product-tabs-container .product-tabs-content .write-comment .form-group .star-widget input:not(:checked)~label:hover~label {
    color: #fd4;
}

.product-tab .product-tabs-container .product-tabs-content .write-comment .form-group .star-widget input:checked~label {
    color: #fd4;
}

.product-tab .product-tabs-container .product-tabs-content .write-comment .form-group .star-widget input#rate-5:checked~label {
    color: var(--yellow);
    text-shadow: 0 0 20px #f8cd24;
}

.product-tab .product-tabs-container .product-tabs-content .write-comment .form-group label {
    display: block;
    font-size: 1.6rem;
    color: var(--gray);
    margin-bottom: 0.5rem;
}

.product-tab .product-tabs-container .product-tabs-content .write-comment .form-group input {
    border: 0.1rem solid var(--light-color);
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}

.product-tab .product-tabs-container .product-tabs-content .write-comment .form-group textarea {
    border: 0.1rem solid var(--light-color);
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}

.product-tab .product-tabs-container .product-tabs-content .review-content .total-start {
    color: var(--text-color);
    padding-left: 1rem;
}

.product-tab .product-tabs-container .product-tabs-content .review-content .star i {
    color: var(--yellow);
}

.product-tab .product-tabs-container .product-tabs-content .review-content .name-custom-review {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 2;
}

.product-tab .product-tabs-container .product-tabs-content .review-content .date-custom-review {
    color: var(--gray);
}

.product-tab .product-tabs-container .product-tabs-content .review-content .content {
    padding: 1rem 0;
}

.product_slide .product-item .product-info .name {
    color: var(--color-black);
    font-size: 2rem;
    font-weight: bold;
    line-height: 2;
    display: block;
    white-space: nowrap;
    width: 264px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_slide .product-item .product-info .price {
    font-size: 1.6rem;
    color: var(--red);
}

.product_slide .product-item .product-info .discount {
    font-size: 1.6rem;
    text-decoration-line: line-through;
    color: var(--text-color);
}